<!DOCTYPE html>
{% extends 'website_model/home.html' %}
{% load static  %}
{%block body_block%}

<div class="container">
  <div class="row">
    <div class="col-lg-4"><img class="col-lg" src="{% static 'website_model/9.png' %}" alt=""></div>
    <div class="col-lg-4"><img class="col-lg" src="{% static 'website_model/13.png' %}" alt=""></div>
    <div class="col-lg-4"><img class="col-lg"src="{% static 'website_model/11.jpg' %}" alt=""></div>

  </div>
  <div class="row">
    <div class="col-lg-4"><img class="col-lg" src="{% static 'website_model/14.jpg' %}" alt=""></div>
    <div class="col-lg-4"><img class="col-lg"  src="{% static 'website_model/5.png' %}" alt=""></div>
    <div class="col-lg-4"><img class="col-lg" src="{% static 'website_model/6.jpg' %}" alt=""></div>

  </div>
  <div class="row">
    <div class="col-lg-4"><img class="col-lg" src="{% static 'website_model/7.jpg' %}" alt=""></div>
    <div class="col-lg-4"><img class="col-lg" src="{% static 'website_model/10.png' %}" alt=""></div>
    <div class="col-lg-4"><img class="col-lg" src="{% static 'website_model/3.png' %}" alt=""></div>

  </div>
  <div class="row">
    <div class="col-lg-4"><img class="col-lg" src="{% static 'website_model/2.png' %}" alt=""></div>
    <div class="col-lg-4"><img class="col-lg" src="{% static 'website_model/8.png' %}" alt=""></div>
    <div class="col-lg-4"><img class="col-lg" src="{% static 'website_model/12.png' %}" alt=""></div>

  </div>
</div>
{% endblock %}
