<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

      <script src="{% static 'website_model/home.js'  %}" charset="utf-8"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="{% static 'website_model/home.css' %}">


  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'website_model:index' %}"><img src="{% static 'website_model/shus.jpg' %}" class="logo" alt="">Shoes):</a>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'website_model:index' %}">Home<span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'website_model:Variety' %}">Variety</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'website_model:Membership' %}">Premium membership</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'website_model:location' %}">Location</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'website_model:brands' %}">brands</a>
      </li>

      {% if logi %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'website_model:ilogout' %}">logout</a>
      </li>
      {% endif %}
      </ul>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

  </div>
</nav>
{% block body_block %}
<div class="con">
  <marquee  class="scr1" direction="left" height="50" width="900" bgcolor= "white" margin-top="100px" object-position="center" >
<a href="{% url 'website_model:Membership' %}">Want our premium membership to avail special discount and offer valid till further notice apply to take advantage of this limited offer by just paying 2 gold coins per year hurry !!!  </a>
<a href="#">SALE!</a>
  </marquee>
  <marquee class="scr" direction="down" height="450" width="250" bgcolor= "white" margin-top="100px" object-position="center" >Scrolling text
  <a href="https://www.techonthenet.com/mysql/index.php">want to learn sql  <img src="{% static 'website_model/sdl1.jpg'%}" alt=""> <img src="{% static 'website_model/sdl3.jpg'%}" alt=""> <img src="{% static 'website_model/sdl2.jpg'%}" alt=""></a>

  </marquee>
  <div class="w3-content w3-display-container">
   <img class="mySlides" src="{% static 'website_model/slide1.jpg'%}" style="width:100%">
   <img class="mySlides" src="{% static 'website_model/slide4.jpg'%}" style="width:100%">
   <img class="mySlides" src="{% static 'website_model/slide2.jpg'%}" style="width:100%">
   <img class="mySlides" src="{% static 'website_model/slide4.jpeg'%}" style="width:100%">
   <img class="mySlides" src="{% static 'website_model/slide5.jpeg'%}" style="width:100%">


   <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
   <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
  </div>
  </div>

<div class="rit" >
  <marquee class="scr" direction="down" height="450" width="250" bgcolor= "white" margin-top="100px" object-position="center" >Scrolling text
  <a href="{% url 'website_model:OrDer' %}">Order Now from our various range of shoes!  <img src="{% static 'website_model/order.jpg'%}" alt=""> </a>

  </marquee>
</div>


{% endblock %}
<footer class="foot">&copy; Copyright 2020 All rights reserved</footer>

</body>

  <script src="{% static 'website_model/home.js'  %}" charset="utf-8"></script>

</html>
