<!DOCTYPE html>
{% extends 'website_model/home.html' %}
{% load static %}
{% block body_block %}
<div class="or">
  <div class="blolx">
    <form  method ="post">
        {% csrf_token %}
        <label for="Email">Email:</label>
        <input type="text" name="Name" value="Name">
        <label for="password">Password:</label>  <input type="password" name="password" value="password">
        <input type="submit" name="submit" value="Login">
      </form>

    <a href="{% url 'website_model:change' %}">Forgot Password?</a>
    </div>
</div>
{%  endblock %}
