<!DOCTYPE html>
{% extends 'website_model/home.html' %}
{% load static  %}
{%block body_block%}
<div class="or">
  <div class="bx">


  {% if O %}
    <h1>Thank you for buying from us our team will shortly get to you for delivery and payment details.</h1>
  {% else %}
    <h1>Order here</h1>
    <h3>Just fill out the form as per your need.</h3>
  <form class="" enctype="multipart/form-data"  method="post">
    {% csrf_token %}
    {{order.as_p}}
    <input  class="sbtn" type="submit" name="submit" value="Submit">
  </form>
  {% endif %}
  <a href="{%  url 'website_model:Variety'%}">want to see more of our varieties!</a>
</div>
</div>
{% endblock %}
