<!DOCTYPE html>
{% extends 'website_model/home.html' %}
{% block body_block %}
<div class="container">
<div class="firm ">
    {% if registered %}
      <h1>Thank you for registering!</h1>
    {% else %}
      <h1>Register Here</h1>
      <h3>Just fill out the form.</h3>
<form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {{ mem.as_p }}
        {{ pro.as_p}}

 <input  class="sbtn" type="submit" name="submit" value="Submit">
      </form>
    {% endif %}
    <a href="{%  url 'website_model:login'%}">Already bought Membership!</a>

    </div>
  </div>
{% endblock %}
