<!DOCTYPE html>
{% extends 'website_model/home.html' %}
{% load static  %}
{% block body_block %}
<div class="grd-box">
<a href="{% url 'website_model:shoes' %}">  <img src="{% static 'website_model/shos.png' %}" alt="choose you shoes"> </a><a href="{% url 'website_model:slippers' %}">  <img src="{% static 'website_model/slippers.jpg' %}" alt="choose you shoes"> </a>
<a href="{% url 'website_model:sandals' %}">  <img src="{% static 'website_model/sandals.png' %}" alt="choose you shoes"> </a><a href="{% url 'website_model:boots' %}">  <img src="{% static 'website_model/boots.png' %}" alt="choose you shoes"> </a>
</div>


{% endblock %}
